<p>Table is just a mapping of objects to table rows with <code>ngFor</code></p>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">id</th>
            <th scope="col">value</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of todoList; index as i">
            <th scope="row"> {{ data.id }}</th>
            <td>{{ data.userId }}</td>
            <td>{{ data.title }}</td>
        </tr>
    </tbody>
</table>