<form class="example-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width w-100">
        <mat-label>email</mat-label>
        <input matInput formControlName="email">
    </mat-form-field>
    <span *ngIf="email.invalid && email.touched">Email is invalid</span>
    <br>
    <mat-form-field class="example-full-width w-100">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password">
    </mat-form-field>
    <button mat-raised-button color="primary">Primary</button>

</form>